.glossymenu, .glossymenu li ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 185px; /*WIDTH OF MAIN MENU ITEMS*/
border: 1px solid #4D4D4D;
}



.glossymenu li{
position: relative;
border:solid;
border-color:#CFCFCF;
border-width: 1px;
}

.glossymenu li a{
background:#EDEDED ;
font: bold 12px Verdana, Helvetica, sans-serif;
color:black;
display: block;
width: auto;
padding: 5px 0;
padding-left: 10px;
text-decoration: none;
}

.glossymenu li ul{ /*SUB MENU STYLE*/
position: absolute;
width: auto; /*WIDTH OF SUB MENU ITEMS*/
left: 0;
top: 0;
display: none;
}

.glossymenu li ul li{
float: left;
}

.glossymenu li ul a{
width: 180px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */
}

.glossymenu .arrowdiv{
position: absolute;
right: 6px;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: black;
}

.glossymenu li a:hover{
background: #FFFFFF;
}

.style1 {font-weight: bold;
color: #333333;

}
.style2 {
	font-size: 18px;
	font-weight: bold;
}
.recomd{
height:125;
width:15%;
border-width: 1px;
border-style: solid;
border-color: #999;
}

.style3 {color: #0000FF;
margin-top: 10;
}
/* Holly Hack for IE \*/
* html .glossymenu li { float: left; height: 1%; }
* html .glossymenu li a { height: 1%; }
/* End */