.d{width: 750; height: 1000}
#search
{
	background-color: #0431B4; 
	
	color: white; font-family: arial, verdana, ms sans serif;
	 font-weight:bold;
	  font-size: 12pt;
	   text-align: right;
	   -moz-border-radius: 8px;
   	-webkit-border-radius: 8px;
}

#list
{

 border: 1px solid black;
 
}

#list td
{

 border: 1px solid black;

}

#list th
{

 border: 1px solid black;

}



#footer {
    border-top: 1px solid #000;
    height: 20px;
    top:90%;
    font-size:10px;
}





a { color:#08088A;
text-decoration:none;
 }
 a:visited { color: #08088A; }
 a:hover { color: #6A0888; }
 a:active { color: #08088A; }
 
 
#menu1
{
background-color: #E6E6E6;
width:100%;
}



#tbl1
{
 	padding: 20px;
	background-color:#E6E6E6;
	width:100%;
}



#footer {
    border-top: 1px solid #000;
    height: 20px;
    top:90%;
    font-size:9px;
}


#tblmenu
{
 border: 1px solid #E6E6E6;
 width:40%;
}


#tblbrowse
{
 border: 1px solid #E6E6E6;
	
}


#image
{
 border: 1px solid #E6E6E6;
	
}



#tbllist
{
 border: 1px solid #E6E6E6;
 width:100%;
}


</style>