body {
	margin: 0;
	padding: 0;
}

#menuwrapper {
	border-bottom: 1px solid #62204b;
	background-image: url(http://deals.ebay.in/ebayindia/images/dark1a.jpg);
	background-repeat:repeat-x;
	width:930px;
	height:30px;
	margin:0px auto 0px auto;
	position:relative;
	z-index:999;
}
.clearit {
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}
/**********main navigation *******/
#p7menubar {
	width: auto;
}
#p7menubar, #p7menubar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family:"Helvetica", Arial, Helvetica, sans-serif;
	font-size:12px;
	
}
#p7menubar a {
	display: block;
	text-decoration: none;
	padding: 4px 2px 5px 0px;
	color: #ffffff;
}
#p7menubar a.trigger {
	padding: 8px 2px 4px 5px;
	height:25px;
	text-transform:sentance;
	float:left
}

#p7menubar li {
	float: left;
	width: auto;
}
#p7menubar li:hover a,
#p7menubar a:active, #p7menubar li.p7hvr a {
	color: #333;
	background-color: #ffcb00;
	
							/*main navigation*/
}
/**********main navigation *******/
#p7menubar li {position: relative; float:left}

/* hide from IE mac \*/
#p7menubar li {position: static; width: auto;}
/* end hiding from IE5 mac */

/**********sub menu position**************/

#p7menubar ul li a  {
	color: #565656;
	border-right: 0;
	
}

#p7menubar li ul {
	position: absolute;
	display: none;
	background-color: blue;
	margin-top:35px;
	}
	/**********sub menu position**************/


#p7menubar li:hover ul, #p7menubar li.p7hvr ul {
	display: block;
}

/**********sub navigation***********/
#p7menubar li:hover ul a, #p7menubar li.p7hvr ul a {
	color: #666666;
	background-color: yellow;
}
#p7menubar ul a:hover {
	color: #1162b7 !important;
}
/**********sub navigation***********/
.product_category{
	font-family:"Helvetica", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	padding: 0px 5px 0px 5px;
	text-align:left;
}
.product_category_2{
	font-family:"Helvetica", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	padding: 10px 5px 0px 5px;
}
.product_category_products{
	font-family:"Arial", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	border-bottom:solid 1px #aa102c;
	
	
}
.product_category_products_end{
	font-family:"Helvetica", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	
	
}
#product_list product_category_products a:hover{
	background-color:transparent !important;
}
a.product_text
{
	background-color:#fff !important;
	padding-left:5px !important;
}
a.product_text:hover{
	background-color:#fff !important;
}
a.product_showimg{
	background-color:#fff !important;
	border-color:solid 0px #aa102c !important;
	padding: 5px 5px 5px 5px;
}
a.product_showimg:hover{
	background-color:#fff !important;
	border-color:solid 0px #aa102c !important;
}
.MouseoverMenu{
	border: solid 1px #d6d6d6; 
	border-bottom:solid 0px #bebebe; 
	border-right:solid 0px red;
	border-top:solid 0px red;
	position:relative;
	padding-left:0px;
	}
.popup_menustyle
	{
	width:auto; background-color:#fff;
	border-right:thin dotted #aa102c;
	background-repeat:repeat-y;
	background-position:right top;
	}
.product_divider{
	vertical-align:top; 
	width:5px;
	padding-right:5px;
	border-right:thin dotted #aa102c; 
	background-repeat:repeat-y;
}
.MouseoverMenu_bottom{
	border-bottom:thin dotted #aa102c;
	background-repeat:repeat-x; 
	height:6px;
}
/*****************start sub_menu css************************/
#menu_4
{
	position: absolute;
	display: none;
	background-color: blue;	
	/*left:250px;*/
}
#menu_5
{
	position: absolute;
	display: none;
	background-color: blue;	
	left:-260px;
}
#menu_6
{
	position: absolute;
	display: none;
	background-color: blue;	
	left:-240px;
}
#menu_7
{
	position: absolute;
	display: none;
	background-color: blue;	
	left:-270px;
}
#menu_8
{
	position: absolute;
	display: none;
	background-color: blue;	
	left:-490px;
}
#menu_9
{
	position: absolute;
	display: none;
	background-color: blue;	
	left:-400px;
}
#menu_10
{
	position: absolute;
	display: none;
	background-color: blue;	
	right:-100px;
}
#menu_11
{
	position: absolute;
	display: none;
	background-color: blue;	
	right:0px;
}
#everything
{
	position: absolute;
	display: none;
	background-color: blue;	
	right:0px;
}
#BrandedMenu{
	position: absolute;
	display: none;
	background-color: blue;	
	right:0px;
	}
/*******************end sub menu css******************/
/*****************arrow Position************/
.menu1_arrow{
	top:0;
	padding-left:14px;
}
.menu2_arrow{
	top:0;
	padding-left:16px; 
}
.menu3_arrow{
	top:0;
	padding-left:22px; 
}
.menu4_arrow
{
	top:0;
	padding-left:32px; 
}
.menu5_arrow
{
	top:0;
	padding-left:18px;
}
.menu6_arrow
{
	top:0;
	padding-left:286px; 
}
.menu7_arrow
{
	top:0;
	padding-left:190px;
}
.menu8_arrow
{
	top:0;
	padding-left:288px;
}
.menu9_arrow
{
	top:0;
	padding-left:454px;
}
.menu10_arrow
{
	padding-left:430px;
	top:0; 
}
.menu11_arrow
{
	padding-right:124px; 
	top:0; 
	
}
.menu12_arrow
{
	vertical-align:top; top:0px; padding-right:8px;
}
.menu13_arrow
{
	vertical-align:top; top:0px; padding-right:14px;
}
.menu14_arrow
{
	vertical-align:top; top:0px; padding-right:5px;
}
/**********************css start for alignment of popup units****************/
#CamerasSection{
	width:700px;
}
#MP4_PlayersSection{
	/*width:850px;*/
	width:700px;
}
#ClothingSection{
	width:758px;
}
#ShoesSection{
	width:559px;
}
#Personalcare{
	width:690px;
}
.sectionsWidth{
	width:667px;
	padding-left:0px !important;
}
/**********************css start for alignment of popup units****************/
