.main_container{
	margin:0 auto;
	width:930px;
	height:348px;
	background:#FFF;
	overflow:hidden;
	border:1px solid #FFF;
}
.slider_screen{
	float:left;
	width:698px;
	height:348px;
	background:url(http://deals.ebay.in/sliders_tvc/images/BG.jpg) center no-repeat;
	overflow:hidden;
	z-index:-1;
}
.slider_screen img{
	max-width:698px;
	/* [disabled]max-height:400px; */
	z-index: -2;
}
.slider_list{
	float:right;
	width:232px;
	height:400px;
	background:#fff;
	margin:0;
}
.slider_list ul{list-style:none; margin:0; padding:0; float:right;}
.slider_list ul li{float:right; display:block;}
.slider_list ul li a{
	/* [disabled]border:solid 1px #CCC; */
	background:url(http://deals.ebay.in/sliders_tvc/images/hp_slider_a_bck.jpg) repeat-x;
	display:block;
	width:232px;
	height:87px;
	/* [disabled]border-bottom:1px solid #000; */
	text-decoration:none;
	outline:none;
	/*-moz-transition:all 0.2s; /* Firefox 4 */
	/*-webkit-transition:all 0.2s; /* Safari and Chrome */
	/*-o-transition:all 0.2s;*/
	z-index:5;
	overflow:hidden;
}
.slider_list ul li a img{
	width:232px;
	height:auto;
	outline:none;
	border:none;
	float: right;
}
.slider_list ul li a:hover{
	background: transparent url(http://deals.ebay.in/sliders_tvc/images/hp_slider_a_bck_hover.jpg) no-repeat;
}
.slider_list ul li a.current{
	width:275px;
	margin-left:-43px;
	background:url(http://deals.ebay.in/sliders_tvc/images/hp_slider_a_current.png) no-repeat;
}
.backgrd{/*background:#c0c0c0;*/
}
.slider_Nav{
	width:20px;
	height:250px;
	float:right;
	margin-left:-20px;
	background:#000;
	z-index:15;
	opacity:0.5;
	filter:Alpha(opacity=50);
	display:none;
}
